.avroize {
    text-align: center;
}

.avroize textarea {
    height: 200px;
    overflow-y: scroll;
    resize: none;
    width: 300px;
}

.avroize .imgCheckbox {
    height: 20px;
    padding: 5px;
    width: 20px;
}

#btnAvroize {
    height: 30px;
    width: 100px;
}
